{% extends 'base.html.twig' %}

{% block title %}Enseignant List{% endblock %}

{% block body %}
    <h1>Enseignant List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.id }}</td>
                <td>{{ enseignant.Nom }}</td>
                <td>{{ enseignant.Prenom }}</td>
                <td>
                    {{ include('enseignant/_delete_form.html.twig') }}
                    <a href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enseignant_new') }}">Create new</a>
{% endblock %}
